# Project exclude paths
/out/
com.ying.basic.juc.iml
.idea/uiDesigner.xml
.idea/modules.xml
.idea/$CACHE_FILE$
.idea/vcs.xml
.idea/misc.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/.gitignore
